<div class="row">
    <div class="col-12">
        <div class="tab">
            <div class="page-number h2">
                <span class="number">4.</span> Insecure Direct Object References
                <a href="/" class="mr-auto">Back to index</a>
            </div>

            <div id="smartwizard">
                <ul class="nav">
                    <li>
                        <a class="nav-link" href="#step-1">
                            Tìm hiểu về Insecure Direct Object References
                        </a>
                    </li>
                    <li>
                        <a class="nav-link" href="#step-2"> Hướng giải quyết </a>
                    </li>
                    <li>
                        <a class="nav-link" href="#step-3"> Demo sau khi Ngăn lỗi </a>
                    </li>
                </ul>

                <div class="tab-content">
                    <div id="step-1" class="tab-pane" role="tabpanel">
                        <div class="content">
                            <p class="h3">Hình thức tấn công:</p>
                            <div class="ml-4">
                                <p>
                                    Attacker sau khi thực hiện đăng nhập vào hệ thống sau đó
                                    thay đổi tham số trên URL để thực hiện truy cập vào
                                    thông tin của người khác.
                                </p>
                                <p>
                                    Sự nguy hiểm nếu có thể khai thác Lỗi như thế có thể
                                    giúp kẻ tấn công nắm quyền toàn bộ những dữ liệu có thể
                                    được liên kết bởi các tham biến. Trừ khi không gian truy
                                    cập rời rạc, kẻ tấn công có thể truy cập tất cả các loại
                                    dữ liệu như thế.
                                </p>
                                <p>
                                    Mức độ nguy hiểm
                                    <span class="text-danger font-weight-bold">rất cao</span>. Attacker có thể thay đổi toàn bộ thông tin của người
                                    bị hack
                                </p>
                            </div>
                            <p class="h3">Ví dụ về cách tấn công:</p>
                            <div class="ml-4">
                                <p>
                                    Hãy thử thực hiện chức năng đăng nhập vào form đăng nhập
                                    bên dưới với tài khoản là
                                    <span class="high-light">user1</span> và mật khẩu là
                                    <span class="high-light">123</span>
                                </p>
                                <p>
                                    Sau đó nhìn trên địa chỉ website, hãy thử thay đổi đường
                                    dẫn <span class="high-light">...</span> thành
                                    <span class="high-light">...</span>
                                </p>
                                <p>
                                    Vậy là có thể trực tiếp sở hữu tài khoản của người khác.
                                </p>
                            </div>
                        </div>
                        <div class="demo d-flex">
                            <div class="form-group">
                                @using (Html.BeginForm("Login", "InsecureDirectObjectReferences", FormMethod.Post))
                                {
                                    <input type="text"
                                           class="form-control font-small mb-3"
                                           name="username"
                                           placeholder="Nhập vào tài khoản" />
                                    <input type="password"
                                           class="form-control font-small mb-3"
                                           name="password"
                                           placeholder="Nhập vào mật khẩu" />
                                    <button type="submit"
                                            class="btn btn-primary btn-sm px-3 py-1">
                                        Đăng nhập
                                    </button>
                                }
                            </div>
                        </div>
                    </div>
                    <div id="step-2" class="tab-pane" role="tabpanel">
                        <p class="h3">Hình thức phòng thủ</p>
                        <ol class="ml-5">
                            <li>
                                Chỉ validate tại phía front - end là chưa đủ. Phải ràng
                                buộc chặt kỹ ở phía server
                            </li>
                            <li>
                                Phân quyền phải rõ ràng, chỉ những user có role là Admin
                                thì mới được phép truy cập vào trang user
                            </li>
                            <li>
                                Khi làm việc với API cũng nên kiểm tra xem user đó có thực
                                sự đủ quyền để có thể truy cập hay không.
                            </li>
                        </ol>
                    </div>
                    <div id="step-3" class="tab-pane" role="tabpanel">
                        <div class="demo d-flex">
                            <div class="form-group">
                                @using (Html.BeginForm("LoginWithOwasp", "InsecureDirectObjectReferences", FormMethod.Post))
                                {
                                    <input type="text"
                                           class="form-control font-small mb-3"
                                           name="username"
                                           placeholder="Nhập vào tài khoản" />
                                    <input type="password"
                                           class="form-control font-small mb-3"
                                           name="password"
                                           placeholder="Nhập vào mật khẩu" />
                                    <button type="submit"
                                            class="btn btn-primary btn-sm px-3 py-1">
                                        Đăng nhập
                                    </button>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>