USE [master]
GO
/****** Object:  Database [TOP10OWASP]    Script Date: 3/10/2021 10:15:37 AM ******/
CREATE DATABASE [TOP10OWASP]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TOP10OWASP', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\TOP10OWASP.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'TOP10OWASP_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\TOP10OWASP_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TOP10OWASP].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TOP10OWASP]
GO
/****** Object:  Table [dbo].[CATEGORY]    Script Date: 3/10/2021 10:15:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CATEGORY](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NAME] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MESSAGE]    Script Date: 3/10/2021 10:15:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MESSAGE](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[MESSAGE] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PRODUCT]    Script Date: 3/10/2021 10:15:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PRODUCT](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NAME] [nvarchar](50) NULL,
	[PRICE] [float] NULL,
	[CATEGORY_ID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USERACCOUNT]    Script Date: 3/10/2021 10:15:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USERACCOUNT](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[USERNAME] [nvarchar](50) NULL,
	[PASSWORD] [nvarchar](50) NULL,
	[NAME] [nvarchar](50) NULL,
	[ROLE] [varchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USERACCOUNTOWASP]    Script Date: 3/10/2021 10:15:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USERACCOUNTOWASP](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[USERNAME] [nvarchar](50) NULL,
	[PASSWORD] [varbinary](16) NULL,
	[NAME] [nvarchar](50) NULL,
	[ROLE] [varchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[CATEGORY] ON 

INSERT [dbo].[CATEGORY] ([ID], [NAME]) VALUES (1, N'COFFEE')
INSERT [dbo].[CATEGORY] ([ID], [NAME]) VALUES (2, N'TEA')
INSERT [dbo].[CATEGORY] ([ID], [NAME]) VALUES (3, N'CHOCOLATE')
SET IDENTITY_INSERT [dbo].[CATEGORY] OFF
GO
SET IDENTITY_INSERT [dbo].[MESSAGE] ON 

INSERT [dbo].[MESSAGE] ([ID], [MESSAGE]) VALUES (39, N'                <script>alert(''hacked!!'');</script>                        ')
INSERT [dbo].[MESSAGE] ([ID], [MESSAGE]) VALUES (40, N'hahaha')
INSERT [dbo].[MESSAGE] ([ID], [MESSAGE]) VALUES (41, N'hahahahahah')
SET IDENTITY_INSERT [dbo].[MESSAGE] OFF
GO
SET IDENTITY_INSERT [dbo].[PRODUCT] ON 

INSERT [dbo].[PRODUCT] ([ID], [NAME], [PRICE], [CATEGORY_ID]) VALUES (1, N'COFFEE1', 100, 1)
INSERT [dbo].[PRODUCT] ([ID], [NAME], [PRICE], [CATEGORY_ID]) VALUES (2, N'COFFEE2', 101, 1)
INSERT [dbo].[PRODUCT] ([ID], [NAME], [PRICE], [CATEGORY_ID]) VALUES (3, N'COFFEE3', 102, 1)
SET IDENTITY_INSERT [dbo].[PRODUCT] OFF
GO
SET IDENTITY_INSERT [dbo].[USERACCOUNT] ON 

INSERT [dbo].[USERACCOUNT] ([ID], [USERNAME], [PASSWORD], [NAME], [ROLE]) VALUES (1, N'admin', N'admin', N'admin', N'admin')
INSERT [dbo].[USERACCOUNT] ([ID], [USERNAME], [PASSWORD], [NAME], [ROLE]) VALUES (2, N'user1', N'user1', N'user1', N'user')
INSERT [dbo].[USERACCOUNT] ([ID], [USERNAME], [PASSWORD], [NAME], [ROLE]) VALUES (3, N'user2', N'user2', N'user2', N'user')
SET IDENTITY_INSERT [dbo].[USERACCOUNT] OFF
GO
SET IDENTITY_INSERT [dbo].[USERACCOUNTOWASP] ON 

INSERT [dbo].[USERACCOUNTOWASP] ([ID], [USERNAME], [PASSWORD], [NAME], [ROLE]) VALUES (1, N'admin', 0x21232F297A57A5A743894A0E4A801FC3, N'admin', N'admin')
INSERT [dbo].[USERACCOUNTOWASP] ([ID], [USERNAME], [PASSWORD], [NAME], [ROLE]) VALUES (2, N'user1', 0x24C9E15E52AFC47C225B757E7BEE1F9D, N'user1', N'user')
INSERT [dbo].[USERACCOUNTOWASP] ([ID], [USERNAME], [PASSWORD], [NAME], [ROLE]) VALUES (3, N'user2', 0x7E58D63B60197CEB55A1C487989A3720, N'user2', N'user')
SET IDENTITY_INSERT [dbo].[USERACCOUNTOWASP] OFF
GO
ALTER TABLE [dbo].[PRODUCT]  WITH CHECK ADD FOREIGN KEY([CATEGORY_ID])
REFERENCES [dbo].[CATEGORY] ([ID])
GO
USE [master]
GO
