@model IEnumerable<TOP10OWASP.Models.PRODUCT>


<h2>LoadProduct</h2>

<table class="table">
    <tr>
        <th>
            Tên
        </th>
        <th>
            Giá
        </th>
        <th>
            Thuộc loại
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NAME)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PRICE)$
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CATEGORY.NAME)
        </td>
    </tr>
}

</table>
